html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.content {
    min-height: 100%;
    padding-bottom: 50px; /* Footer height */
}

h1, h2, p, li, footer {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 20px #FFF, 0 0 40px #FFF;
}

.keyword {
    color: green;
    text-shadow: 0 0 5px green, 0 0 10px green, 0 0 20px green, 0 0 40px green;
}

footer {
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
    text-align: center;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: lightgreen;
}
